.footer_div
    .follow_container
        .follow
          | Follow
          span
            a(href='javascript:void(0)') TAGSLOCAL
          | :
        .follow_links
          a(href='javascript:void(0)', target='_blank')
            #fb_icon.footer_icon
          a(href='javascript:void(0)', target='_blank')
            #twitter_icon.footer_icon
          a(href='javascript:void(0)', target='_blank')
            #google_icon.footer_icon
          a(href='javascript:void(0)', target='_blank')
            #dribbble_icon.footer_icon
          a(href='javascript:void(0)', target='_blank')
            #github_icon.footer_icon
          a(href='javascript:void(0)', target='_blank')
            #tumblr_icon.footer_icon
      .footer_menu
        span.menu_option
          a(href='javascript:void(0)') About
        span.menu_option
          a(href='javascript:void(0)') Contact Us
        span.menu_option
          a(href='javascript:void(0)') FAQ
        span.menu_option
          a(href='javascript:void(0)') TC
        span#last.menu_option
          a(href='javascript:void(0)') PP
