<div class="footer_div">
<div class="footer_menu">

<ul>
<li class="footer_link"><a href="javascript:void(0)">About</a></li>
<li class="footer_link"><a href="javascript:void(0)">Contact Us</a></li>
<li class="footer_link"><a href="javascript:void(0)">FAQ</a></li>
<li class="footer_link"><a href="javascript:void(0)">TC</a></li>
<li class="footer_link"><a href="javascript:void(0)">PP</a></li>
</ul>
<div class="follow_links">
<span id="fb_icon" class="footer_icon">
<a href="javascript:void(0)" target="_blank"></a></span>
<span id="twitter_icon" class="footer_icon"><a href="javascript:void(0)" target="_blank"></a></span>
<span id="google_icon" class="footer_icon"><a href="javascript:void(0)" target="_blank"></a></span>
<span id="dribbble_icon" class="footer_icon"><a href="javascript:void(0)" target="_blank"></a></span>
<span id="github_icon" class="footer_icon"><a href="javascript:void(0)" target="_blank"></a></span>
<span id="tumblr_icon" class="footer_icon"><a href="javascript:void(0)" target="_blank"></a></span>
</div>

</div>


</div>

