<div class="footer_div">
<div class="follow_container">
<div class="follow">Follow <span><a href="javascript:void(0)">TAGSLOCAL</a></span>:</div>
<div class="follow_links">
<a href="javascript:void(0)" target="_blank">
<div id="fb_icon" class="footer_icon">



</div>
</a>
<a href="javascript:void(0)" target="_blank">
<div id="twitter_icon" class="footer_icon">


</div>
</a>
<a href="javascript:void(0)" target="_blank">
<div id="google_icon" class="footer_icon">



</div>
</a>
<a href="javascript:void(0)" target="_blank">
<div id="dribbble_icon" class="footer_icon">



</div>
</a>
<a href="javascript:void(0)" target="_blank">
<div id="github_icon" class="footer_icon">



</div>
</a>
<a href="javascript:void(0)" target="_blank">
<div id="tumblr_icon" class="footer_icon">



</div>
</a>










</div>
</div>
<div class="footer_menu">
<span class="menu_option"><a href="javascript:void(0)">About</a></span>
<span class="menu_option"><a href="javascript:void(0)">Contact Us</a></span>
<span class="menu_option"><a href="javascript:void(0)">FAQ</a></span>
<span class="menu_option"><a href="javascript:void(0)">TC</a></span>
<span class="menu_option" id="last"><a href="javascript:void(0)">PP</a></span>
</div>
</div>