<div class="header">
<div class="header_div">
<div class="logo_div">
<a href="javascript:void(0)">
<span class="logo_blue">TAGS</span> <span class="logo_red">LOCAL</span>
</a>
</div>
<div class="login_button">LOG IN</div>
<div class="signup_button">SIGN UP</div>
<div class="select_city"><span>Select City</span><span id="option_icon"></span>
</div>
</div>

<div class="menu_container">
<div class="menu_div">
<a href="/"><span class="menu_items">HOME</span></a>
<a href="/category?category=phone"><span class="menu_items">PHONES</span></a>
<span class="menu_items">WATCHES</span>
<span class="menu_items">PEN DRIVES</span>
<span class="menu_items">APPARELS</span>
<span class="menu_items">ACCESORIES</span>
</div>
</div>



</div>