<div class="header">
<div class="header_div">
<div class="logo_div">
<a href="/">
<span class="logo_blue" style="font-family:'MuseoSans700';">TAGS</span> <span class="logo_red" style="font-family:'MuseoSans700';">LOCAL</span>
</a>
</div>
<div class="header_search_div">
<input type="text" class="header_search_box" style="height:32px;padding:3px 5px;padding-right:0px;" placeholder="Search for a brand,product or specific item"/>
<div class="header_search_button"></div>
</div>
<div class="select_city"><span>Select City</span><span id="option_icon"></span>

</div>
</div>

<div class="menu_container">
<div class="menu_div">
<ul>
<li class="menu_list_item"><a href="/search?search_term=nokia&no=10">NOKIA</a></li>
<li class="menu_list_item"><a href="/search?search_term=samsung&no=10">SAMSUNG</a></li>
<li class="menu_list_item"><a href="/search?search_term=htc&no=10">HTC</a></li>
<li class="menu_list_item"><a href="/search?search_term=apple&no=10">APPLE</a></li>
<li class="menu_list_item"><a href="/search?search_term=lg&no=10">LG</a></li>
</ul>

</div>
</div>



</div>