<div class="header">
<div class="header_div">
<div class="logo_div">
<a href="javascript:void(0)">
<span class="logo_blue">TAGS</span> <span class="logo_red">LOCAL</span>
</a>
</div>
<div class="login_button">LOG IN</div>
<div class="signup_button">SIGN UP</div>
<div class="select_city"><span>Select City</span><span id="option_icon"></span>
</div>
</div>

<div class="menu_container">
<div class="menu_div">
<a href="http://localhost:3000"><span class="menu_items">Home</span></a>
<a href="http://localhost:3000/category?category=phone"><span class="menu_items">Phones</span></a>
<span class="menu_items">Watches</span>
<span class="menu_items">Pen Drives</span>
<span class="menu_items">Apparels</span>
<span class="menu_items">Accessories</span>
</div>
</div>



</div>