<html>
<head><title>Home Page</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"  />



</head>
<body>
<% include header %>

<div class="main_container">
<div class="middle_container">

<div class="search_container">
<div class="search_div">
<div class="search_results_container">

</div>
<input type="text" class="search_box" name="search" placeholder="Search Products Here" />
<span id="font_search">
</span>
</div>
</div>
<div class="product_container">
<div class="product_title">TRENDING PRODUCTS :</div>
<div class="product_slider">
<span class="product_icon" id="left_icon"></span>
<div class="main_product">






</div>
<span class="product_icon" id="right_icon" ></span>
</div>
</div>
</div>
<% include footer %>
</div>

<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/home.js"></script>

</body>
</html>