<!DOCTYPE html>
<html>
<head>
<title></title>
</head>

<body>


<div class="container">
<% for(var i=0;i<retailer_data.length;i++){ %>
<%= retailer_data[i]['business_name'] %><br/>
<div class="products_parent">
<%  %>
</div>
<% } %>
</div>


</body>
</html>