*{
margin:0px;
padding:0px;

}

@font-face{
 src:url('fontello.ttf');
 font-family:'Header-icon';
}
@font-face{
src:url('BrandonGrotesqueLight.ttf');
font-family:'BGLight';
}
@font-face{
src:url('dinpro-bold.ttf');
font-family:'DinProBold';
}
@font-face{
src:url('DINProLight.ttf');
font-family:'DinProLight';
}
@font-face{
src:url('SourceSansPro-Bold.otf');
font-family:'SourceSansProBold';
}
@font-face{
src:url('MuseoSans500.ttf');
font-family:'MuseoSans500';
}
@font-face{
src:url('MuseoSans700.ttf');
font-family:'MuseoSans700';
}
.main_container{

width:100%;
clear:both;
}

.header{
	position:fixed;

	top:0px;
	left:0px;
	width:100%;
		z-index:20000;


}
.header a{
}

.header_div{

	height:50px;
	width:100%;
	background: #63605c;

	color:#333;
    font-family:'DinProBold';
			background:#fff;
}
.logo_blue, .logo_red{
font-size:23px;
font-family:'BGLight';
}
.logo_div{
float:left;
height:100%;
width:200px;
line-height:45px;
letter-spacing:2px;
font-size:23px;
margin-left:3%;
cursor:pointer;
    font-family:'MuseoSans700';
	padding-top:3px;
}

.login_button{
	position:absolute;
	right:300px;
	top:15px;
	cursor:pointer;
    font-family:'DinProLight';

}

.signup_button{
	background:#1abc9c;
	position:absolute;
	top:9px;
	right:210px;
	padding:7px 8px;
	cursor:pointer;
	font-family:'DinProLight';
	font-size:13px;
	color:#fff;

}
.select_city{
float:right;
margin-top:1%;
margin-right:5%; 
font-size:16px;
font-family:'DinProLight';
cursor:pointer;
}

#option_icon:before{
width:10px;
font-family:'Header-icon';
font-size:20px;
content:'\e810';
cursor:pointer;
margin-left:15px;

}

.middle_container{
min-height:600px;;
margin-top:99px;
}

.menu_container{
	width:100%;
	color:#fff;
	background:#333;
	border-bottom:1px solid rgba(0,0,0,.2);
font-family:'BGLight';

}

.search_container{
	height:300px;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,.09);

}.search_div{
	position:relative;
	top:125px;
	left:450px;
	height:50px;
	width:380px;
}
.search_box{
	height:54px;
	width:440px;
	border:1px solid rgba(0,0,0,.12);
	font-family:'BGLight';
	outline:none;
	padding:16px;
	
	border-radius:2px;
	font-size:20px;
	transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	border-bottom:2px solid #1abc9c;
}

.product_container{
		min-height:320px;
		width:100%;



}
.product_title{
		padding-top:20px;
		font-size:26px;
        font-family:'MuseoSans500';
		text-align:center;


}
.product_slider{
width:80%;
}
.product_icon{
				position:absolute;
		top:593px;
		font-family:'Header-icon';
		font-size:100px;
		color:rgba(0,0,0,.6);
		width:40px;
		
		cursor:pointer;
}
#left_icon{
left:34px;
}
#right_icon{
right:34px;
}
#left_icon:before{

	margin-left:5px;
	content:'\e80d';
	font-size:68px;
}

#right_icon:before{
		
		content:'\e80e';
			font-size:68px;
}


.main_product{
	overflow:hidden;
	display: inline-block;
	width:93%;
	height:270px;
    margin-top:70px;
	margin-left:150px;
}
.tagline_container{
position:absolute;
top:140px;
left:32%;
font-family:'MuseoSans500';
font-size:24px;
color:#333;
}


.one_product{
	float:left;
	margin-left:40px;
	width:16%;

}
.one_product:first-child{
margin-left:80px;
}

.product_name{
	width:100%;
	margin: 8px auto;
	text-align:center;
	
	font-size:14px;
	color: rgba(0,0,0,0.6);
	font-family: 'BGLight';


}

a{
	text-decoration:none;
	


}
.product_desc {
	width:100%;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	
	font-family: 'BGLight';


}

.product_desc a{
	color: #3b5998;

}

.product_desc a:hover{
	color: rgba(0,0,0,0.9);

}

#font_search{
cursor:pointer;
position:relative;
	left:400px;
	height:54px;
	width:44px;
	background:#1abc9c;
	top:-54px;
	display:block;
	-webkit-transition:all .2s ease;
}

#font_search:before{
	font-family:'Header-icon';
	content:"\e804";
	width:35px;
	height:35px;
	top:18px;
	left:13px;
	position:absolute;
	color:#fff;

	
}


.menu_div{

	margin-left:360px;
	width:80%;
	font-size:18px;
    height:54px;
	overflow:hidden;
}
.menu_div ul{
height:54px;
overflow:hidden;
}
.menu_list_item{
height:54px;
float:left;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
}
.menu_list_item a{
height:100%;
width:100%;
padding:18px 36px;
font-size:16px;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
}
.menu_list_item a:hover{
color:#1abc9c
}


.menu_items{
    height:100%;
	margin:24px 24px;
	cursor:pointer;
	color:#fff;
	font-size:16px;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	
}
.menu

.menu_items:hover{

}



.footer_div{
width:100%;

color:#fff;
clear:both;

}

a{
text-decoration:none;
cursor:pointer;
color:#fff;
}
.follow_container{
padding-top:14px;
padding-bottom:20px;
padding-left:40%;
font-size:20px;
height:50px;
}
.follow{
margin-left:20px;
padding-bottom:10px;
}
.follow_links{


}

.footer_menu{
padding-top:2px;
padding-left:31%;
padding-bottom:5px;
font-size:13px;
background:rgb(42,42,42);
}

.menu_option{
padding: 0px 25px;
font-size:18px;
letter-spacing:1px;
border-right: 1px solid #fff;
}

#last{
border-color:#63605c;
}

.footer_icon{
height:32px;
width:32px;
float:left;
margin-right:6px;
cursor:pointer;
-moz-transition:all .3s linear;
-webkit-transition:all .3s linear;
-o-transition:all .3s linear;
-ms-transition:all .3s linear;
}
#fb_icon{
background-image:url('social/facebook.png');
}
#fb_icon:hover{
background-image:url('hover/facebook.png');
}
#twitter_icon{
background-image:url('social/twitter.png');
}
#twitter_icon:hover{
background-image:url('hover/twitter.png');
}
#google_icon{
background-image:url('social/google.png');
}
#google_icon:hover{
background-image:url('hover/google.png');
}
#github_icon{
background-image:url('social/paypal.png');
}
#github_icon:hover{
background-image:url('hover/pinterest-32.png');
}
#tumblr_icon{
background-image:url('social/tumblr.png');
}
#tumblr_icon:hover{
background-image:url('hover/tumblr.png');
}
#dribbble_icon{
background-image:url('social/dribbble.png');
}
#dribbble_icon:hover{
background-image:url('hover/dribbble.png');
}

.logo_blue{
color:#00c4ff;
}

.logo_red{
color:#ff3322;
}




.search_results_container{
position:absolute;
top:50px;
left:0px;
font-family:'DinProBold';
font-size:21px;
color:#333;
display:none;
z-index:999;
width:400px;
background:#fff;
border:1px solid rgba(0,0,0,.12);
overflow:hidden;
}
.search_result_item{
padding:14px;
font-size:15px;
color:#333;
font-family:'DinProBold';
width:100%;
border-bottom:1px solid rgba(0,0,0,.12);

}




.footer_div{
width:100%;
background:rgba(0,0,0,.22);
color:#fff;
clear:both;

}

a{
text-decoration:none;
cursor:pointer;
color:#fff;
}

.follow_links{
display:inline;
float:right;
padding-top:8px;
padding-right:10%;

}

.footer_menu{
padding-top:10px;
padding-left:31%;
height:50px; 	
}


#last{
border-color:#63605c;
}

.footer_icon{
height:32px;
width:32px;
float:left;
margin-right:10px;
cursor:pointer;
-moz-transition:all .3s linear;
-webkit-transition:all .3s linear;
-o-transition:all .3s linear;
-ms-transition:all .3s linear;
}
#fb_icon{
background-image:url('social/facebook.png');
}
#fb_icon:hover{
background-image:url('hover/facebook.png');
}
#twitter_icon{
background-image:url('social/twitter.png');
}
#twitter_icon:hover{
background-image:url('hover/twitter.png');
}
#google_icon{
background-image:url('social/google.png');
}
#google_icon:hover{
background-image:url('hover/google.png');
}
#github_icon{
background-image:url('social/paypal.png');
}
#github_icon:hover{
background-image:url('hover/pinterest-32.png');
}
#tumblr_icon{
background-image:url('social/tumblr.png');
}
#tumblr_icon:hover{
background-image:url('hover/tumblr.png');
}
#dribbble_icon{
background-image:url('social/dribbble.png');
}
#dribbble_icon:hover{
background-image:url('hover/dribbble.png');
}

.logo_blue{
color:#00c4ff;
}

.logo_red{
color:#ff3322;
}
.footer_menu{
padding-left:30px;

}
.footer_menu ul{
display:inline;


height:100%;
}
.footer_menu ul li{
height:100%;
margin-right:50px;
float:left;
list-style-type:none;
overflow:hidden;
}
.footer_menu ul li a{
padding-top:13px;
display:block;
font-size:14px;
font-family:'MuseoSans500';
text-decoration:none;
}
.primary img{
width:64%;
height:250px;
margin:0px 18%;
}


.short-description span{
font-size:18px;
padding-bottom:13px;
display:block;
color:#333;
}

.brand_name{
display:none;
}


ul.product-list{
margin-left:100px;
}
.menu_items{
-webkit-transform:all .2s ease;
-moz-transform:all .2s ease;
-ms-transform:all .2s ease;
-o-transform:all .2s ease;
}
.menu_items:hover{
color:#1abc9c;
}
#font_search:before{
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;
-ms-transition:all .3s ease;
}
.search_right_container{
padding-bottom:50px;
}
.products_container{
}
.show_more_products{
width:100%;
}
.show_more_products_button{
width:100%;
height:42px;
text-align:center;
margin-top:80px;
background:#1abc9c;
color:#fff;
border:none;
font-family:'DinProLight';
font-size:15px;
cursor:pointer;
}

.search_field_container .search_field{
padding:22px 18px;
}
.details h1{
font-size:23px;
}
.retailer_container{
padding:14px 0px;
}
.retailer_item{
padding:12px;
font-family:'BGLight';
max-height:240px;
color:#333;
overflow:hidden;
}
.retailer_image{
float:left;
width:28%;
height:110px;
}
.retailer_image img{
height:100%;
width:60%;
}
.retailer_info{
float:left;
width:66%;
height:100%;
}
.retailer_title{
font-size:21px;
font-family:'DinProBold';
}
.retailer_address{
font-size:13px;
}
.search_product_new{
display:none;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
}

.specifications_title{
padding:14px 0px;
font-size:19px;
font-family:'Lato';
color:#333;
font-weight:bold;
}
.product_more_link{
padding:12px 0px;
font-size:15px;
color:#1ebcfa;
text-align:center;
}
.isotope-item, .standard{
height:260px;
overflow:hidden;
}
.isotope-item .image, .standard .image{
height:180px;
}
.isotope-item .image img, .standard .image img{
height:180px;
}
.isotope-item .title, .standard .title{
height:50px;
text-align:center;
}
.product-info .product-content #product form > div{
border-bottom:none;
}
.product-info .product-content #product .details{
padding-bottom:3px;
}
.specifications_container{
width:57%;
font-family:'BGLight';
font-size:18px;
}
.speci_key{
font-family:'Lato';
font-weight:bold;
margin-top:24px;
font-size:14px;
}
.speci_value{
font-family:'Lato';
margin-right:22px;
margin-top:24px;
font-size:14px;
}

.best_price_container{
padding:12px 0px;
font-family:'BGLight';
font-size:16px;
}

.menu_div a{
display:block;
}

.home_tagline{
position:absolute;
top:130px;
left:35%;
font-size:26px;
font-family:'MuseoSans500';
color:#333;
}

.header_search_div{
	
	float:left;
	display:inline;
	margin-left:15%;
 	width:28%;
 	height:36px;
 	margin-top:8px;
 	


}

 .header_search_box{

 	height:34px;
 	width:100%;
 	padding-left:6px;
 	padding-top:2px;
 	border-radius: 0px;
 	border: 1px solid rgb(0,0,0,.1);
 	font-family:'BGLight';
 	font-size:16px;
 	
 }

.header_search_button{
	float:right;
	cursor:pointer;
	position:relative;
	background-attachment:scroll;
	left:6px;
	top:-50px;
	background: rgb(0,196,255);
	width:38px;
	height:40px;




}

.header_search_button:before{
	font-family:'Header-icon';
	content:"\e804";
	width:30px;
	height:30x;
	top:11px;
	left:12px;
	position:absolute;
	color:#fff;
	font-size:16px;
	
}


.logo_blue,.logo_red{
	font-size:26px;


}
.search_div{
	left:34%;	


}

.header_div{

	padding:3px 0px;
}



.product_options_container{
padding:17px 0px;
width:100%;
min-height:130px;
margin-left: 0 auto;
margin-right: 0 auto; 
}
.product_options_tab{
display: inline;
}
.option_tab{
padding:14px 22px;
background:#fff;
color:#333;
font-family:'BGLight';
font-size:15px;
float:left;
list-style-type:none;
cursor:pointer;
border-right:1px solid #1abc9c;
}
.option_tab.selected{
background:#1abc9c;
color:#fff;
}
.product_options_content{

}
.tab_content{
display:none;
}

#all_description{
	width:74.5%;
	margin-left:150px;
margin-top:-75px;
	

}

#content_shown{
	padding:30px 0px;


}

.nav_list_container{
margin:2px 0px;
}
.nav-tabs{
background:none;
width:100%;
padding:0px auto;
}
.nav-tabs li a{
background:rgba(0,0,0,.06);
font-family:'Lato';
font-size:15px;
font-weight:300;
}
.nav-tabs li a.selected{
background:#1abc9c;
color:#fff;

}
.nav_list_content_container{
background:#fff;
}