.category_container{
margin:0px 40px;
margin-top:20px;



}
.category_name{
font-size:34px;
font-family:'Calibri';
padding:22px 0px;
padding-left:38%;

}
.all_products{
margin-top:40px;
height:auto;

}
.category_title{

}

img{
width:200px;
height:200px;


}

.show_one_product{
margin-right:50px;
float:left;
margin-bottom:60px;
}

.category_showing{
color:rgba(0,0,0,.42);
}
.one_product{
margin-bottom:32px;
}
.product_name{
padding-top:8px;
}